name: Linting

on: pull_request

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/jod'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Prettier Check
        run: npm run lint:prettier:check

  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/jod'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run ESLint Check
        run: npm run lint:eslint:check
